In [1]:
import pandas as pd
import time
import sys
from pathlib import Path
from compute_similarity import weighted_search

[nltk_data] Downloading package stopwords to /Users/lina/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/lina/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/lina/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [2]:
query_file = pd.read_csv("/Users/lina/Documents/ISE_540/project/data/Search Enginer Queries.csv", keep_default_na=False).iloc[:,:4]
query_file.tail()

,people,location,organization,date
15,Jack Richter,,"Los Angeles Police Department, LAPD","November 9, December 30"
16,"Marques Brownlee, Sonny Dickson, Terry Gou","Mesa, Arizona","GT Advanced Technologies, Wall Street Journal",
17,"Martin Crowe, Michael Clarke, Brendon McCullum","Australia, New Zealand",Cricinfo,March 29
18,"Deborah Persaud, Hannah Gay, Katherine Luzuriaga","Mississippi, Boston, Long Beach, California","Johns Hopkins Children's Center, National Inst...",March 2013
19,"Josef Helfenstein, Gretchen Sammons, Vandalize...","Houston, Landeros",University of Houston,

In [ ]:

result = []
start = time.time()

for i in range(len(query_file.tail())):
    people, location, organization, date =  query_file.iloc[i]
    top_10 = weighted_search(people, location, organization, date, k=100)
    print(top_10)
    result.append(top_10)
    
end = time.time()

[('58ebab0b4d8c30ed1083797506067bef0ac51fe3.story', 0.5706427130721774), ('a446d728089b3de26d8ccfb9ab5f4a1db99c3235.story', 0.4293572869278226), ('d36ea6ec8634a0dc766d4edea7b83ee7afa05e0c.story', 0.4293572869278226), ('ce696fe5e7a044e1de51f53821f153e2b686296a.story', 0.4293572869278226), ('b360fdd24dce0e1dd5c965c2d75934b6e7c436e0.story', 0.4293572869278226), ('8ce17d7586c259e7dfdc46287a8111c30d30abb9.story', 0.4293572869278226), ('bf1664e88890db022fe9ccd8f4c467659ca86d72.story', 0.4293572869278226), ('9242f82c6c69f223a6566f4785497c5e047f8c0f.story', 0.4293572869278226), ('2c5a549b71dd97c55950bc076758bbd66ae6b61b.story', 0.4293572869278226), ('ce8cf58260bbc82772d666ece733044297a1e680.story', 0.4293572869278226)]

In [22]:
elapsed_time_seconds = (end_time - start_time)/60
print(f"Elapsed time: {elapsed_time_seconds:.2f} minutes")